.ServersN {
    float: left;
    padding-top: 45px;
    padding-left: 7%;
}
.servers{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4f62
}
.numberof {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    color: #4a4f62
}
.search {
    float: right;
    margin: 0 auto;
    margin-top: 50px;
    border:solid 2px #d5d8e2;
    border-radius: 20px;
    height: 30px;
    min-width: 20%;
    background-image: url(../../../assets/search.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: bold;
    margin-right: 4%;
    }
input {
    //font-weight: bold;
    color: #d1d8ec;
    margin-left: 40px;
    outline:none;
    background-color: #F2F3F6;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 80%;
}
