<div class="ServersN">
<div class="servers">
    Servers
</div>
<div class="numberof">
    Number of elements: {{numberOfServers}}
</div>
</div>
<div class="search"> 
    <input type="search" placeholder="Search" (keyup)="sendText($event.target.value)"> 
</div>