<div class="headerServers">
<app-search (searchText)="filterList($event)" [numberOfServers]="countServers"></app-search>
</div>
<section>
<header>
    <div class="name">NAME</div>
    <div class="status">STATUS</div>
</header>
<div class="ServerList">
    <ul>
    <li *ngFor="let server of servers$ | async | appFilter: text" [ngStyle]="{'color': (server.status === 'ONLINE') ? '#37a7af' : (server.status === 'OFFLINE') ? '#4a4f62' : 'silver'}">
        <app-server [serverName] = "server.name" [serverStatus] = "server.status" [serverID] = "server.id"></app-server>
    </li>
</ul>
</div>
</section>