ul {
    list-style-type: none;
}

.headerServers {
    margin-left: auto; margin-right: auto;
    width: 75%;
    min-height: 80px;
    border-bottom: solid 2px #f5f5f5;
}

header {
    margin-left: auto; margin-right: auto;
    min-height: 75px;
    width: 97%;
    background-color: white;
    border: solid 2px #f5f5f5;
    //margin-top: 15px;
    margin-left: 3%;
}

.name {
    float: left;
    margin-top: 40px;
    margin-left: 3%;
    color: #7f8aac;
    font-family: Arial, Helvetica, sans-serif;
}

.status {
    float: left;
    margin-left: 25%;
    margin-top: 40px;
    color: #7f8aac;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
    width: 70%;
}