header{
    background-color: 	#474d61;
    height: 70px;
}
.logo {
    float:left;
    padding-top: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    list-style-type: circle;
    margin-left: 10px;
}
#circle {
    margin-top: 30px;
    float:left;
	width: 15px;
	height: 15px;
	border: 2px solid #797eea;
    border-radius: 100%;
    margin-left: 50px;
}
.border {
    float:left;
    min-width: 1px;
    min-height: 40px;
    border-left: solid 1px #6f7486;
    margin-top: 15px;
    margin-left: 20px;
}