.serverName {
    float: left;
    margin-top: 17px;
    min-width: 20%;
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4f62;
    font-size: 12px;
}

.serverStatus { 
    float: left;
    margin-left: 100px;
    margin-top: 5px;
    min-width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: left center;
}

label {
    padding-left: 30px;
    margin-top: 10px;
    font-size: 14px;
}
.dropDown {
    float: right;
    margin-right: 20px;
}

.singleRecord {
    margin-left: auto; margin-right: auto;
    width: 100%;
    min-height: 50px;
    background-color: white;
    border: solid 1px #f5f5f5;
}

button {
    border: none;
    background: none;
    font-size: 14px;
    color: #4a4f62;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}