<div class="singleRecord">
<div class="serverName">{{serverName}}</div>
<div class="serverStatus" [ngStyle]="{'background-image': (serverStatus === 'ONLINE') ? 'url(../../../assets/on.png)' : (serverStatus === 'OFFLINE') ? 'url(../../../assets/off.png)' : 'none'}"><label>{{serverStatus}}</label></div>
<div class="dropDown"> 
  <button mat-icon-button *ngIf="(serverStatus != 'REBOOTING...')" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="(serverStatus === 'ONLINE')" (click)="turnOFF()">
      <span>Turn off</span>
    </button>
    <button mat-menu-item *ngIf="(serverStatus === 'ONLINE')" (click)="reboot()">
      <span>Reboot</span>
    </button>
    <button mat-menu-item *ngIf="(serverStatus === 'OFFLINE')" (click)="turnON()">
      <span>Turn on</span>
    </button>
  </mat-menu>  
</div>
</div>